/* CSS Document */
body {
  font:13px Arial,Verdana,  Helvetica, sans-serif;
  margin:0 auto 0 auto;
}

a:link, a:active, a:visited {
	color:#333333;
	text-decoration:none;
	font-size:12px;
}
a:hover {
	color:#0066FF;
	text-decoration:underline;
	font-size:12px;
}

div#wrapper {
  width:90%;
  margin:10px auto 0 auto;
}


.tablesorter {
  width:100%;
  border-top:1px solid #e5eff8;
  border-right:1px solid #e5eff8;
  margin:1em auto;
  border-collapse:collapse;
  font-size:12px;
}

.tablesorter th {
  color:#678197;
  border-bottom:1px solid #e5eff8;
  border-left:1px solid #e5eff8;
  padding:.3em 1em;
  text-align:center;
  font-size:12px;
}

.tablesorter td {
  color:#678197;
  border-bottom:1px solid #e5eff8;
  border-left:1px solid #e5eff8;
  padding:.3em 1em;
    font-size:12px;
  /*text-align:center;*/
}


.borderDebug {
  border:solid thin #F00;
}

.bgHeader {
	background-image:url(../img/bg-header-title.gif);
	background-repeat:repeat-x;
}

.buttons {
	/*
	border-style:solid;
	border-width:2px;
	border-color:#333333;
	*/
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:11px;
	color:#333333;
	background-image:url(../img/button_bg.gif);
	background-position:top;
	background-color:#FFFFFF;
	background-repeat:repeat-x;
}

.textbox-style {
	font-size:12px;
	color:#333333;
	border-style:solid;
	border-width:1px;
	border-color:#999999;
	padding:1px;
	background-color:#FFFFFF;
	width:300px;
}

.textbox-search-style {
	font-size:12px;
	color:#333333;
	border-style:solid;
	border-width:1px;
	border-color:#999999;
	padding:1px;
	background-color:#FFFFFF;
	width:150px;
}
