body{font-family:lucida,arial,helvetica; color:#008800; background-color:#ffFFff}
fieldset {margin-top:10px;border:1px solid #ff0000;}
fieldset legend {
	color:#ff6600;
	color:#339966;
	font-weight:bold;
	border:1px solid #ff0000;
	background-color:#ffddaa;
	padding:2px;padding-left:6px;padding-right:6px;
	font-family:lucida,arial,helvetica;font-size:.7em}

#companyinfo td {padding:2px; border:1px solid #dddddd;}
#searchtable {empty-cells:show; border-collapse:false;border-spacing:0px;}
#searchtable td {padding:2px; border-bottom:1px dotted #dddddd;font-size:.7em}
#searchtable  th {padding:2px; border-bottom:1px solid #51B1D8;font-size:.8em}
#guestinfo  label {font-size:.7em}
#companyinfo  label {font-size:.7em}
#searchcount   {font-size:.7em; color:#ff6600;margin-top:16px;}
.keypadfield{ border:1px solid #51B1D8; background-color:#E0EBEF; width:100%}
.cmdbtn {
	background-color:#95D5EF;
	border:1px solid #E0EBEF;
	width:80px;
	padding:4px;
	cursor:pointer;
}

input, select {
	font-size:1em;
	border:1px solid #eeeeee;
	cursor:pointer;
	color:#15428B;
	font-weight:normal;
	background-color:#CED9E7;
}

input:hover {
	background-color:#eeeeee;
	color:#ff9966;
	border:1px solid #dddddd;
	border-left:1px solid #aaaaaa;
	border-top:1px solid #aaaaaa;
}

.numeric 
{
	width:80px;
	text-align:right;
}
.dateinput
{
	width:140px;
}

.money
{
	width:100px;
	text-align:right;
}
.formtable {empty-cells:show; border-collapse:false;border-spacing:0px;font-size:.7em;}

.ratebuttons , .discountbuttons, .otherdisc
{
font-size:.9em;
font-weight:bold;
padding:4px;
margin:2px;
border:1px solid #aaaaaa;
border-left:1px solid #dddddd;
border-top:1px solid #dddddd;
}

.discountbuttons {
	display:none;
}
.incbutton
{
	font-size:1em;
	color:#FF00FF;
	font-weight:bold;
	width:30px;
	height:24px;
}

.denomination 
{
	font-size:1em;
	float:left;
	width:60px;
	padding:4px;
	margin:2px;
	color:#0000FF;
	font-weight:bold;
}
.pressed {
	background-color:#444444;
	color:#ffffff;
}
.half {
	width:43%;
}
.full {
	width:100%;
}
.textfield {
	width:80%;
}
.hilite {
	border:1px solid #ff6600;
}