body {font-family:arial,helvetica,tahoma;font-size:1em;}
h1 {font-size:1.1em;} 
h2 {font-size:1.0em;} 
a {font-size:0.9em;}
table {font-size:1.0em;} 
table td {font-size:.8em;}
table th {font-size:.8em;}
div {font-size:.8em;}